*.a
*.la
*.lo
*.o
*~
.*.swp
.DS_Store
.deps
.gdb_history
.libs
/Makefile
Makefile.in
Session.vim
TAGS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
foo*
install-sh
libtool
ltmain.sh
missing
src/rfcat
src/tssplit
stamp-h1
tags
tests/basic
tests/filename
tests/refs
